html, body {
   height : 100%; 
    margin : 0; 
    padding : 0;  
}
body {
    background-image : url(../image/Stocks.jpg); 
    background-repeat: no-repeat;
    background-size : cover; 
    color : white; 
    display : flex; /*utile pour pouvoir pousser le footer en bas de page en conjonction avec flex-direction*/
    flex-direction: column;
}
.elms-sans-text { /*permet uniquement de modifier la police du texte*/
  font-family : "Elms Sans", sans-serif;
  font-optical-sizing : auto;
  font-weight : normal;
  font-style : normal;
}
a:link {
    color : rgba(000,255,255,1); 
}
a:visited {
    color : rgba(255,000,255,1);
}
a:hover {
    color : rgba(255,255,255,1); ;  
}
footer {
    background-color : black;
    display : block;
    width : 100%;   
    position : fixed; 
    bottom : 0; 
    left : 0;  
}
h1 {
    font-size : 50px;  
    text-align : center; 
}
.Appareil {
    margin-left : 5%; 
    margin-right : 5%;
    margin-top : 25px; 
    margin-bottom : 125px;  
    height : 100px; 
    border : 5px solid black; 
    border-radius : 20px; 
    padding : 2% 7.5%; 
    background-color : rgba(150,150,150,0.7);
}
.Appareil {
    font-size : 20px; 
}