

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../image/Umons_background.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    color: white;
}

.boite-login{
    width: 350px;
    height: 400px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.183);
    border-radius: 30px;
    padding: 30px 40px;
}

.boite-login h1{
    font-size: 30px;
    text-align: center;
}

.boite-login .entree-login{

    position:relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;


}

.entree-login input{
    
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.entree-login input::placeholder{
    color:white;
}

.entree-login i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform : translateY(-50%);
    font-size: 20px;
}

.register{
    font-size: 15px;
    text-align: center;
    margin: 30px 0 15px;
}

.boite-login .bouton-login {
    
    
    width: 100%;
    background-color: whitesmoke;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    transition: all 0.2s ease;

}
.boite-login .bouton-login:hover {

    background-color: rgb(158, 173, 192);
    height: 55px;
}
